body
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
}




.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #030303;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

.left
{
    display: flex;
    gap: 30px;
    margin: 10px;
    align-items: center;
}

ul
{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 8px;
    margin: 10px;
}

a 
{
    text-decoration: none;
    color: aliceblue;
    
}




.container
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
}


.section1
{   
    display: flex;
    background-image: url(images/bg1.jpeg);
    background-size: cover;
    height:85vh;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    gap:300px;
    padding: 20px;
    margin-bottom: 40px;
    

}

h1 {
    text-shadow: 2px 2px 4px black, 0 0 25px rgb(159, 159, 185), 0 0 5px rgb(68, 68, 80);
}


.card1
{
    color: white;
    flex:1;
    margin-left: 35px;
    
}
.card2
{
    
    color: aliceblue;
    display: block;
    padding: 0 20px;
    padding-top: -15px;
    flex:2;
    border: 3px solid #d4d9e4 ;
    border-radius: 20px;
    background-color: #751616;
    margin-right: 35px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    

}

.button
{
    background-color: #751616;
    border: 1px solid ;
    border-radius: 15px;
    padding: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.button:hover
{
    background-color: #080000;
}



.section2
{
    text-align: center;
    background-color: #050404;
    color:white;
}

.bands,
.albums
{
    display: flex;
    flex-shrink: 0;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    text-align:center;
    gap: 35px;
    padding: 20px;
    font-size:  16px; 
}

.band
{
    padding: 30px;
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
}

button
{
    padding: 5px;
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    color: #1A202C;
    font-family: Inter, sans-serif;
    font-weight: 700;
    height: 30px;
    justify-content: center;
    line-height: 20px;
    padding: 15px;
    border-radius: 8px;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  
}
 


.section3
{
    display: column;
    text-align: center;
    background-color: #050404;
    color: #d4d9e4;
}



.section4
{
    background-color: #d6d7d8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quote
{
    padding: 50px 300px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  
}

.kurt
{
    text-align: end;
    font-size: 25px;
}



.cta
{
    background-color: #048cfc;
    display: flex;
    color: rgb(246, 247, 248);
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 50px;
    margin: 50px;
    border-radius: 30px;
    border-top: 2px solid rgb(46, 42, 240);
    border-left: 2px solid rgb(46, 42, 240);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#signup
{
    text-align: center;
    background-color: #2b93fa;
    border-top: 2px solid rgb(46, 42, 240);
    border-left: 2px solid rgb(46, 42, 240);
    border-radius: 15px;
    padding: 5px 7px ;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#signup:hover
{
    background-color: #091329;
}



.footer
{
    background-color: #0c0909;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 60px;
}


